<div>
  <h2> Pyramid</h2>
  <pyramid-params  [pyramidSize]="6" (sizeChange)="sizeChanged($event);"></pyramid-params>
  <div class="info centered" [style.visibility]="hoverNum == '' ? 'hidden' : 'visible'">
    <span [innerText]="hoverNum || '0'"></span>
  </div>
  <div class="nowrap">
    <div *ngFor="let row of rows" class="centered">
      <span *ngFor="let num of row" [innerText]="num" class="num-box"
            (mouseenter)="hoverNum = num"
            (mouseleave)="hoverNum = ''"></span>
    </div>
  </div>
</div>
